beautifulsoup4==4.4.0
bleach==1.4.1
celery==3.1.18
Django==1.8.2
django-extensions==1.5.5
eventlet==0.17.4
flower==0.8.2
google-api-python-client==1.4.1
html2text==2015.6.21
lxml==3.4.4
oauth2client==1.4.11
redis==2.10.3

###############################################################################
### Testing                                                                 ###
###############################################################################
mock==1.1.3
six==1.9.0
factory-boy==2.5.2

###############################################################################
### Not needed for package                                                  ###
###############################################################################

coverage==3.7.1
dj-database-url==0.3.0
psycopg2==2.6.1
sphinx-rtd-theme==0.1.8
